*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 16.5px;
	color: #505050;
}
.subheading {
	font-family: 'Fira Sans', sans-serif;
}
a {
	text-decoration: none;
	color: #f08d3b;
}
a:hover,
a:active,
a:focus {
	color: #d07421;
}
.label,
control {
	display: block;
	width: 100%;
}
.tool_controls,
.form_buttons {
	text-align: center;
}
.table_information {
	display: block;
	width: 100%;
}
.dataTables_info,
.dataTables_paginate {
	text-align: center;
	padding: 0.3em;
}
span.more-link {
	display: block;
	margin-top: 1em;
}
button {
	height: 40px;
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	background: #f08d3b;
	border: 1px solid #f08d3b;
	cursor: pointer;
	border-radius: 0;
}
button:hover,
button:active,
button:focus {
	outline: none;
	background: transparent;
	color: #f08d3b;
}
input,
select,
.comiseo-daterangepicker-triggerbutton {
	height: 40px;
	font-size: 15px;
	padding: 0 12px;
	background: #eee;
	border: 1px solid #e6e4e4;
	border-radius: 0;
	vertical-align: middle;
	-webkit-appearance: none;
}
.comiseo-daterangepicker-triggerbutton {
	letter-spacing: initial;
	border-radius: initial;
	text-transform: initial;
	text-shadow: none;
}
select,
.comiseo-daterangepicker-triggerbutton {
	font-size: 15px;
	background-color: #eee;
	background-image: linear-gradient(45deg, transparent 50%, gray 50%),
		linear-gradient(135deg, gray 50%, transparent 50%);
	background-position: calc(100% - 20px) calc(50%), calc(100% - 15px) calc(50%),
		calc(100% - 2.5em) 0.5em;
	background-size: 5px 5px, 5px 5px, 1px 1.5em;
	background-repeat: no-repeat;
	-webkit-appearance: none;
	-moz-appearance: none;
}
input:active,
select:active,
.comiseo-daterangepicker-triggerbutton:active,
input:focus,
select:focus,
.comiseo-daterangepicker-triggerbutton:focus {
	border-color: #e6e4e4;
	outline: none;
}
select::-ms-expand {
	display: none;
}
span.ui-button-icon-secondary {
	display: none;
}
input[type='checkbox'] {
	height: 16px;
	width: 16px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-appearance: checkbox;
}
h1 {
	display: none;
}
.ui-datepicker-header {
	height: 3em;
}
div.footer {
	text-align: center;
	margin: 10px 0 0 0;
	border-top: 1px dotted #d0d0d0;
}
div.footer span {
	display: inline-block;
	font-size: 0.8em;
	vertical-align: middle;
	padding: 0.5em;
}
div.footer span.credit {
	width: 80%;
}
div.footer span.logo {
	text-align: right;
	width: 25%;
	background-image: url('//cdn.brighterir.com/img/Brighter-IR-Logo-Inverted-Small.png');
	height: 2em;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
div.footer span.logo a {
	display: block;
	width: 100%;
	height: 100%;
	border: none;
}
div.footer span.logo a span {
	visibility: hidden;
}
div.footer span.text span {
	display: block;
	margin: 0;
	padding: 0;
	font-size: 1em;
}
div.footer p {
	margin: 0 0.5em;
}
.paginate_button {
	display: inline-block;
	min-width: 27px;
	font-size: 14px;
	text-align: center;
	margin: 0 2px;
	padding: 4px 11px;
	color: #f38e2e;
	background: transparent;
	border: 1px solid #f38e2e;
	border: none;
	cursor: pointer;
}
.paginate_button.current {
	color: #fff;
	background: #f38e2e;
}
.paginate_button:hover,
.paginate_button:active,
.paginate_button:focus {
	color: #fff;
	background: #f38e2e;
	outline: none;
}
.dataTables_info {
	font-size: 12px;
	text-transform: uppercase;
	margin-top: 4px;
}
@media (max-width: 465px) {
	.paginate_button.first,
	.paginate_button.last,
	.paginate_button[data-dt-idx='4'],
	.paginate_button[data-dt-idx='5'],
	.paginate_button[data-dt-idx='6'] {
		display: none;
	}
	div.footer span.logo {
		width: 100px;
		margin-bottom: 8px;
	}
}
a {
	-webkit-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}
ul.date_bar li a,
.register a,
.forgotten_password a {
	-webkit-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
}
button,
.paginate_button {
	-webkit-transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}
html {
	overflow: hidden;
}
body {
	font-family: 'Inter', sans-serif;
	font-size: 17px;
	color: #fff;
	background-repeat: no-repeat;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.page_title {
	height: 0;
}
.chart_container {
	padding: 0 0 10px 0;
}
#chart {
	position: relative;
	height: 420px;
	padding: 20px;
	background-color: #ebd5dc;
	border: 0.5px solid rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}
#chart:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100% !important;
	height: 100% !important;
	z-index: -1;
}
input,
select,
.comiseo-daterangepicker-triggerbutton {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 4px;
	border: 0px solid transparent;
	color: #555;
}
select {
	background-image: url('//cdn.brighterir.com/custom/boku/dropdown.png');
	background-size: 10px;
	background-repeat: no-repeat;
	background-position: right 15px center;
	padding-right: 30px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
select:focus::-ms-value {
	background: rgba(255, 255, 255, 0.6);
}
.label {
	margin-bottom: 10px;
	font-weight: 600;
}
.tool_control {
	margin-bottom: 10px;
}
.tool_control.marker_container {
	padding: 12px 10px 0 10px;
	margin-bottom: 0px;
}
.tool_control.marker_container > .label {
	display: none;
}
.tool_control.overlay_container {
	padding: 0 10px 8px 10px;
}
.tool_control.overlay_container > .label {
	display: none;
}
.tool_control .marker_control,
.tool_control .overlay_control {
	display: block;
	padding: 1px 0 3px 0;
	overflow: hidden;
}
.tool_control .marker_control input,
.tool_control .overlay_control input {
	width: 16px;
	float: left;
}
.tool_control .marker_control label,
.tool_control .overlay_control label {
	display: block;
	float: left;
	width: calc(100% - 16px);
	font-size: 16px;
	font-weight: 400;
	line-height: 1.45;
	text-transform: none;
	margin-top: -3px;
	padding-left: 6px;
	color: #fff;
}
.tool_control .date_bar {
	margin: 0;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	-ms-flex-direction: row;
	-ms-flex-wrap: wrap;
}
.tool_control .date_bar li {
	width: 25%;
	padding: 1px;
}
.tool_control .date_bar li.all {
	width: 50%;
}
.tool_control .date_bar li a {
	display: block;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	color: #fff;
	background: #ff7f00;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	cursor: pointer;
	padding: 5px 0;
}
.tool_control .date_bar li a:hover,
.tool_control .date_bar li a:active,
.tool_control .date_bar li a:focus {
	background: #ff7f00;
}
.series_container {
	margin-top: 20px;
}
.series_group .controls,
.date_combo_container .controls,
.export_container .controls {
	display: block;
}
.series_group .controls select,
.series_group .controls input,
.date_combo_container .controls select,
.date_combo_container .controls input,
.export_container .controls select,
.export_container .controls input {
	width: 100%;
}
.export_container .controls {
	overflow: hidden;
}
.export_container .controls select {
	width: calc(100% - 60px);
	float: left;
	border-radius: 4px 0 0 4px;
}
.export_container .controls button {
	width: 60px;
	float: left;
	font-size: 17px;
	border: none;
	border-radius: 0 4px 4px 0;
	background: #ff7f00;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px;
}
.export_container .controls button:hover,
.export_container .controls button:active,
.export_container .controls button:focus {
	color: #fff;
	background: #ff7f00;
}
.form_buttons {
	margin: 0;
	padding: 20px 0 0 0;
}
.form_buttons button {
	width: 120px;
	height: 42px;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
	padding: 0;
}
@media (min-width: 440px) {
	.intraday_scope .marker_container {
		padding: 12px 10px 23px 10px;
	}
	.tool_control.marker_container {
		width: 40%;
	}
	.tool_control.overlay_container {
		width: 40%;
		padding: 0 10px 3px 10px;
	}
	.tool_control.date_bar_container {
		width: 60%;
		float: right;
		margin-top: -87px;
		position: relative;
	}
	.tool_control.date_bar_container label {
		display: none;
	}
	.tool_control.date_bar_container .date_bar {
		padding: 0px 10px 0px 10px;
		border-top: none;
	}
	.tool_control.date_bar_container .date_bar li {
		padding: 1px;
	}
	.series_container {
		clear: both;
	}
	.date_combo {
		margin-left: -10px;
		overflow: hidden;
	}
	.date_combo li {
		width: 50%;
		float: left;
		padding-left: 10px;
	}
	.export_container .controls select {
		width: calc(100% - 100px);
		border-radius: 4px 0 0 4px;
	}
	.export_container .controls button {
		width: 100px;
		text-transform: uppercase;
		border-radius: 0 4px 4px 0;
		border: none;
		background: #ff7f00;
		border: 1px solid rgba(255, 255, 255, 0.2);
	}
	.export_container .controls button:hover,
	.export_container .controls button:active,
	.export_container .controls button:focus {
		color: #fff;
		background: #ff7f00;
	}
}
.form_buttons {
	padding-bottom: 10px;
}
.form_buttons #reset {
	width: 190px !important;
	font-size: 17px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 2px 20px 8px 20px;
	margin: 0 auto;
	color: #fff;
	background: #ff7f00;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	position: relative;
	z-index: 10;
}
.form_buttons #reset:hover,
.form_buttons #reset:active,
.form_buttons #reset:focus {
	background: #ff7f00;
}
.paginate_button.current {
	background: #ff7f00 !important;
}
div.footer {
	margin-top: 12px;
	border-top: none;
}
div.footer a {
	font-weight: 600;
	color: #ff7f00 !important;
}
div.footer a:hover,
div.footer a:actcive,
div.footer a:focus {
	color: #ff7f00 !important;
}
